<head>
    <title>Vital List- Find the Discord bots that are right for you.</title>
    <%- include("../parts/head.ejs") %>
  </head>
  <%- include("../parts/nav.ejs") %>
  <div class="container" style="padding-top: 175px;color:white">
  <h1>Coming soon</h1>
  <ul>
  </ul>
  </div>
  <%- include("../parts/footer.ejs") %>
  <style>
    .centerText {
      text-align: center;
      padding-right: 10px;
      padding-left: 15px;
  }
  </style>
  