<html>
<head>
    <title>Submit Bot - Revolt Bot List</title>
    <%- include("../parts/head.ejs") %>
</head>
<%- include("../parts/nav.ejs") %>
<div class="body" style="height: 100%;">
  <div class="top">
      <center>
  <p style="margin-top:75px;margin-bottom: 75px"><span style="font-size: 40px;"><b>Revolt Bot List</b></span><br>
  The first 3rd-party to find all of the best Revolt bots you will ever need!</p><br>
</center>
</div>
<br>
<div class="Container">

</div>
</div>
</div>