<footer class="footer">
  <br>
  <center>
    <p>Created with <i class="fa-solid fa-heart" style="color: #ff282e;"></i> by <a href="https://github.com/BrydenIsNotSmart">BrydenIsNotSmart</a>, <a href="https://github.com/sldless">Sldless</a> and <a href="https://github.com/BrydenIsNotSmart/Revolt-Bot-List/graphs/contributors">contributors.</a></p>
    <p>Copyright © 2023 Revolt Bot List, RevoltBots - owned by Vital Development.</p>
    <a class="footerItem" href="/">Home</a> |
    <a class="footerItem" href="https://github.com/BrydenIsNotSmart/Revolt-Bot-List">Github</a> |
    <a class="footerItem" href="/bot-rules">Bot Rules</a> |
    <a class="footerItem" href="/terms">Terms of Service</a> |
    <a class="footerItem" href="/policy">Privacy Policy</a><br></p>
    <a href="https://www.dmca.com/Protection/Status.aspx?ID=29543539-f393-4234-8497-49f08c3ea574&refurl=https://revoltbots.org/" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-11.png?ID=478e23f6-820e-4f8c-8d11-479a139043dd" alt="DMCA.com Protection Status" /></a>
    <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
  </center><br>
</footer>
+