<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a style="margin-left: 75;" class="navbar-brand" href="/"><img height="50px" width="50px" style="border-radius: 50%;" src="https://autumn.revolt.chat/attachments/EStmqLLcWe2w_I_m5a7HG2PE5N4MHMY07TsvuqeUmO/botlist.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul style="background-color: transparent;" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fa-regular fa-house"></i> Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/explore"><i class="fa-regular fa-compass"></i> Explore</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-regular fa-ellipsis"></i> More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav" style="margin-right: 75px;">
        <% if(user) { %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <img style="border-radius: 50%;" height="30px" width="30px" src="https://autumn.revolt.chat/avatars/<%= user.avatar._id %>/<%= user.avatar.filename %>.png">&nbsp;<%= user.username %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users/<%= user.id %>"><i class="fa-regular fa-user"></i> Profile</a>
              <a class="dropdown-item" href="/bots/submit"><i class="fa-regular fa-plus"></i> Add Bot</a> 
              <a class="dropdown-item" href="/logout"><i class="fa-regular fa-right-from-bracket"></i> Logout</a>
            </div>
          </li>
          <% } else { %>
            <li class="nav-item">
                <a class="btn btn-primary text-white" href="/login"><i class="fa-regular fa-right-to-bracket"></i> Login</a>
              </li>
        <% }%>
        </ul>
  </div>
</nav>