<head>
    <title>Login - Revolt Bots</title>
    <%- include("../parts/head.ejs") %>
</head>
<%- include("../parts/nav.ejs") %>


                  <div class="text-center" style="margin-top: 150px;">
                    <img src="https://revolt.chat/_next/static/media/revolt-logo.24213514.svg"
                      style="width: 185px;" alt="logo">
                    <h2 style="color: white"><b>BOTS</b></h2><br>
  
                  <form action="../../../login/confirm" method="POST">
                    <p style="color:white">Please join our Revolt server and run "rbl!login <%= code %>" in either the commands channel or the bot's DMS to verify you are the owner of this account.<br>Click the "Check" button below once you have ran the command successfully.
                    </p>
                    <input type="hidden" name="revoltId" value="<%= revoltId %>">
                    <a href="/server"><button style="border-radius: 7px;margin-top:3px; background-color: #fe4655;border-color: #fe4655" class="btn btn-primary pl-3 pr-3 mr-3" type="button"><i class="fa-solid fa-right-to-bracket"></i> Join Our Server</button></a>
                    <button style="border-radius: 7px;margin-top:3px; background-color: #fe4655;border-color: #fe4655" class="btn btn-primary pl-3 pr-3 mr-3" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Check</button>
                  </div>
</form>
  </section>