<head>
  <title>Login - Revolt Bots</title>
  <%- include("../parts/head.ejs") %>
</head>
<%- include("../parts/nav.ejs") %>


<div class="text-center" style="margin-top: 150px;">
  <img src="https://revolt.chat/_next/static/media/revolt-logo.24213514.svg" style="width: 185px;" alt="logo">
  <h2 style="color: white"><b>BOTS</b></h2><br>

  <form action="../../../login" method="POST">
    <h5 style="color:white"><b>Please login to your account</b></h5><Br><Br>
    <h3 style="color:white"><B>Revolt ID</B></h3>
    <input class="inputField" name="revoltID" placeholder="&nbsp;Ex. 01GPZ5PTPQ2RNMZEF02NKD7TQE"><br><br>

    <button style="border-radius: 7px;margin-top:3px; background-color: #fe4655;border-color: #fe4655" class="btn btn-primary pl-3 pr-3 mr-3" type="submit"><i class="fa-solid fa-paper-plane"></i> Submit</button>
</div>
</form>
</section>