<head>
    <title>Register - Revolt Bot List</title>
    <%- include("../parts/head.ejs") %>
</head>
<%- include("../parts/nav.ejs") %>

<div class="loginModal">
<form action="../../../register" method="POST">
<input type="text" placeholder="Revolt Account ID" name="revoltId">
<input type="password" placeholder="Create a password..." name="password">
<input type="submit" value="Submit">
</form>
</div>