.highlight {
  background-color: #7b1042 !important;
  border-color: #f10473 !important;
  border: 2px solid;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0.3;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  top: 224px;
  padding: 20px;
  background: #571936;
  border-radius: 5px;
  width: 100%;
  height: 50%;
  position: relative;
  transition: all 1.2 ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.popup .close:hover {
  color: #591d57;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 25%;
  }

  .popup {
    width: 25%;
  }
}

.highlight {
  background-color: yellow;
  transition: background-color 1s ease;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.reviews_devider {
  margin-top: 25;
  margin-right: 25px;
  margin-bottom: 25px;
  background: #7b216b;
}

.reviews_replyline {
  border-left: 2.5px solid #7b216b;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 28px;
  width: 0px;
  height: 25px;
}

.float-left {
  float: left !important;
}

.rating {
  display: flex;
  margin-top: -10px;
  flex-direction: row-reverse;
  margin-left: -4px;
  float: left;
}

.rating>input {
  display: none;
}

.rating>label {
  position: relative;
  width: 19px;
  font-size: 25px;
  color: #faa632;
  cursor: pointer;
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important;
}

.rating>input:checked~label:before {
  opacity: 1;
}

.rating:hover>input:checked~label:before {
  opacity: 0.4;
}

.desccard {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(50%);
  -webkit-backdrop-filter: blur(50%);
  width: 85vw;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.15);
  color: white;
}

@media only screen and (max-width: 1070px) {
  .desccard {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

.idk {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.owner {
  color: #d9e4ec;
  text-decoration: none;
}

.owner:hover {
  color: #d9e4ec;
  text-decoration: none;
}

.card {
  height: auto;
  width: 100%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 10px;
  margin-top: 15px;
  margin-left: auto;
  transition: all 0.2s;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.botname_main {
  color: white;
  font-size: 20px;
  margin-top: -80px;
  margin-left: 105px;
  border-radius: 10px;
  font-weight: bold;
}

.botimg_main {
  width: 85px;
  height: 85px;
  border-radius: 100%;
  margin-top: 10px;
  margin-left: 10px;
}

#bot-description img {
  max-width: 100%;
}

#bot-description iframe {
  max-width: 100%;
}

@media only screen and (min-width: 1080px) {
  .botpagecontainer {
    width: 100%;
    padding-right: 150px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
  }

  .reviewContainer {
    color: white;
    width: 100%;
    padding-right: 150px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 1300px) {
  .botpagecontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .reviewContainer {
    color: white;
    width: 90%;
    font-size: 12px !important;

    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 1080px) {
  .descriptionContainer {
    width: 100%;
    margin-top: -75px;
    padding-right: 150px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  .descriptionContainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
