<head>
  <title>Revolt Bots - Find the Revolt bots that are right for you.</title>
  <%- include("./parts/head.ejs") %>
</head>
<%- include("./parts/nav.ejs") %>
<div class="container" style="padding-top: 175px;color:white">
<h1>Revolt Bots - Bot Rules</h1>
<ul>
<li>Must follow revolt's rules</li>
</ul>
</div>
<%- include("./parts/footer.ejs") %>
<style>
  .centerText {
    text-align: center;
    padding-right: 10px;
    padding-left: 15px;
}
</style>
