<head>
  <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
  <title>Revolt Bots - Find the Revolt bots that are right for you.</title>
  <%- include("./parts/head.ejs") %>
</head>
<%- include("./parts/nav.ejs") %>
<div class="text-center" style="margin-top: 150px;">
  <img src="https://revolt.chat/_next/static/media/revolt-logo.24213514.svg" style="width: 185px;" alt="logo">
  <h2 style="color: white"><b>BOTS</b></h2><br>
  <h3 style="color: white"><b>Downloads</b></h3>
  <p style="color: white">Here's a list of the supported platforms below, click on them to download it.</p><br>
  <a href="/downloads/windows">
    <button style="border-radius: 7px;margin-top:3px; background-color: #fe4655;border-color: #fe4655" class="btn btn-primary pl-3 pr-3 mr-3"><i class="fa-brands fa-windows"></i>&nbsp;&nbsp;<span style="text-align: right;"><b>Windows Download</b></span></button>
  </a>