<html>
<head>
    <title>Revolt Bot List</title>
    <%- include("./parts/head.ejs") %>
</head>
<%- include("./parts/nav.ejs") %>
<div class="body" style="height: 100%;">
  <div class="top">
      <center>
  <p style="margin-top:75px;margin-bottom: 75px"><span style="font-size: 40px;"><b>Revolt Bot List</b></span><br>
  The first 3rd-party to find all of the best Revolt bots you will ever need!</p><br>
</center>
</div>
<br>
<div class="Container">
  <h2><b><i class="fa-solid fa-fire-flame"></i> Top Voted</b></h2>
  <p>These are the most voted bots of the month.</p>
  <br>
  <div class="card" style="width: 350px;">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img height="150px" width="150px" style="border-radius: 50%;padding-top: 5px;padding-left: 5px;" src="https://cdn.discordapp.com/avatars/829896567963910164/e0f9b3f1d0cffa1bb64a88cf27e9a040.png" class="img-fluid" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body">
      <h4 class="card-title"><b>Aziel</b></h4>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the
        card's content.
      </p>
  
      <button type="button" class="btn btn-primary">Button</button>
    </div>
  </div>
  <div class="card" style="width: 350px;">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img height="150px" width="150px" style="border-radius: 50%;padding-top: 5px;padding-left: 5px;" src="https://cdn.discordapp.com/avatars/829896567963910164/e0f9b3f1d0cffa1bb64a88cf27e9a040.png" class="img-fluid" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
    <div class="card-body">
      <h4 class="card-title"><b>Aziel</b></h4>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the
        card's content.
      </p>
  
      <button type="button" class="btn btn-primary">Button</button>
    </div>
  </div>
</div>
</div>
</div>