<head>
    <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
    <title>Partners - Revolt Bots</title>
    <%- include("./parts/head.ejs") %>
  </head>
  <%- include("./parts/nav.ejs") %>
  <div class="text-center" style="margin-top: 150px;">
    <img src="https://revolt.chat/_next/static/media/revolt-logo.24213514.svg" style="width: 185px;" alt="logo">
    <h2 style="color: white"><b>BOTS</b></h2><br>
    <h3 style="color: white"><b>Team</b></h3>
   